@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway';
}

/* custom classes */

.sidebar {
  width: 250px;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
}

.sidebar .suggestion-list {
  overflow-y: auto;
  max-height: calc(100vh - 101px);
}

.search-box {
  position: relative;
}

.clear-suggestion {
  position: absolute;
  right: 48px;
  bottom: 2px;
}

.loading-suggestion {
  position: relative;
  display: inline-flex;
  right: 40px;
  top: 5px;
}

.suggestion-box {
  position: absolute;
  z-index: 5;
}

.suggestion-box>div {
  border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.main {
  padding-left: 250px;
  min-height: 100vh;
}

.playlist-item {
  transition: all 0.4s;
  box-shadow: 0px 5px 15px 0px #aaa3;
}

.favorite-maker:hover {
  transition: all 0.4s;
  color: red;
}

.item-menu {
  position: absolute;
  right: 0;
  z-index: 4;
  min-width: 150px;
}

.player {
  background: radial-gradient(#aaa, #ddd, #fff, #fff);
}

.player-card {
  width: 300px;
  margin: auto;
  box-shadow: 3px 10px 15px 5px #0001;
}

.play-pause-overlay {
  background-color: #ddd1;
  transition: all 0.4s;
}

.play-button, .pause-button, .animated {
  transition: all 0.4s;
}

.slick-arrow.slick-prev {
  position: absolute;
  right: 50px;
  left: auto;
  top: -2rem;
}

.slick-arrow.slick-next {
  position: absolute;
  right: 20px;
  left: auto;
  top: -2rem;
}

.slick-next:before, .slick-prev:before {
  color: #aaa;
}

/* utility */

.text-xxs {
  font-size: .6rem;
}

.rounded-xl {
  border-radius: 2rem;
}

/* animations */

.spinner {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  border-color: #a9a9a9 #202020 #a9a9a9 #a9a9a9;
  animation: spin 0.25s linear infinite;
}

/*  */

/* .beat-box { */

/*  */

/* } */

.heart-beat {
  transition: all 0.2s;
  animation: beat 0.5s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}